
<% form_for(:slider, @slider, :url => page_slider_path(@page, @slider) ) do |f| %>
  <%= f.error_messages %>
  
  <table class="page-head">
    <tr>
      <td style="width:250px;">
        <%= f.label :name %> <span class="star_req">*</span>
        <%= f.text_field :name,  {:style => 'width:150px', :rel => 'text_req' } %>
      </td>
      <td style="width:150px;">
        <%= f.label :width %> <span class="star_req">*</span>
        <%= f.text_field :width, {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
      
      <td style="width:150px;">
        <%= f.label :height %> <span class="star_req">*</span>
        <%= f.text_field :height,  {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
         
      <td class="buttons" style="width:120px;">
        <button type="submit" class="positive" id="save-slider">Save Changes</button>
      </td>
    </tr>
  </table>

  <ul id="widget-tabs">
    <li><a href="<%= page_slider_path(@page, @slider)%>" rel="tab-widget-view" id="loadachu">Quick View</a></li>
    <li><a href="#slides" rel="tab-widget-slides">Slides</a></li>
    <li><a href="#css" rel="tab-widget-css">CSS</a></li>
  </ul> 

  <div id="tab-widget-view" class="widget-tabs">
    This is the view
  </div>
        
  <div id="tab-widget-slides" class="widget-tabs">
    <a href="#" id="new-slide" style="clear:both;">New Slide</a>
    <ul id="slides-list">
      <% @slider.slides.each_with_index do |content, index| %>
        <li>
          <div class="info">
            <span>Slide #<%= index %></span>
            <a href="#" class="delete">[x]</a>
            <a href="#" class="edit">edit</a>
          </div>
          <div class="edit">
            <textarea id="slider_slides_<%= index %>" name="slider_slides[<%= index %>]"><%= content %></textarea>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
    
  <div id="tab-widget-css" class="widget-tabs">
    <fieldset>
      <%= f.text_area :css, :style => 'width:99%;height:300px;' %>
    </fieldset>
  </div>
  
<% end %> 
  
<script type="text/javascript">
$(function(){
  $("ul#slides-list").sortable({axis: 'y' });
})
</script>
