
<% form_for @slider do |f| %>
  <%= f.error_messages %>
  <input name="_method" type="hidden" value="put" />
  <table class="page-head">
    <tr>
      <td style="width:250px;">
        <%= f.label :name %> <span class="star_req">*</span>
        <%= f.text_field :name,  {:style => 'width:150px', :rel => 'text_req' } %>
      </td>
      <td style="width:150px;">
        <%= f.label :width %> <span class="star_req">*</span>
        <%= f.text_field :width, {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
      
      <td style="width:150px;">
        <%= f.label :height %> <span class="star_req">*</span>
        <%= f.text_field :height,  {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
      
      <td class="buttons" style="width:60px;">
        <%= link_to 'delete', slider_path(@slider), :class => 'delete negative', :rel => 'sliders' %>
      </td>
               
      <td class="buttons" style="width:120px;">
        <button type="submit" class="positive" id="save-slider">Save Changes</button>
      </td>
    </tr>
  </table>

  <ul id="widget-tabs">
    <li title="View sample slideshow output"><a href="<%= slider_path(@slider)%>" rel="tab-widget-view" id="loadachu">View Slideshow</a></li>
    <li title="The Basic HTML stucture of your slideshow (READONLY)"><a href="#html" rel="tab-widget-html">Study HTML</a></li>
    <li title="Create and edit slides here"><a href="#slides" rel="tab-widget-slides">Slides</a></li>
    <li title="Edit CSS here"><a href="#css" rel="tab-widget-css">CSS</a></li>
  </ul> 

  <div id="tab-widget-view" class="widget-tabs">
    This is the view
  </div>

  <div id="tab-widget-html" class="widget-tabs">
    <textarea id="sample-html"><%=h @html %></textarea>
  </div>
          
  <div id="tab-widget-slides" class="widget-tabs">
    <a href="#" id="new-slide" style="clear:both;">New Slide</a>
    <ul id="slides-list">
      <% @slider.slides.each_with_index do |content, index| %>
        <li>
          <div class="info">
            <span>Slide #<%= index %></span>
            <a href="#" class="remove">[x]</a>
            <a href="#" class="edit">edit</a>
          </div>
          <div class="edit">
            <textarea id="slider_slides_<%= index %>" name="slider_slides[<%= index %>]"><%= content %></textarea>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
    
  <div id="tab-widget-css" class="widget-tabs">
    <fieldset>
      <%= f.text_area :css, :style => 'width:99%;height:300px;' %>
    </fieldset>
  </div>
  
<% end %> 
  
<script type="text/javascript">
$(function(){
  $("ul#slides-list").sortable({axis: 'y' });
  
  var sampleHtml = CodeMirror.fromTextArea('sample-html', {
    readOnly: true,
    width: "820px",
    height: "700px",
    parserfile: ["parsexml.js", "parsecss.js", "tokenizejavascript.js", "parsejavascript.js", "parsehtmlmixed.js"],
    stylesheet: ["/stylesheets/codemirror/xmlcolors.css?232331sdf", "/stylesheets/codemirror/jscolors.css?12312"],
    path: "/javascripts/codemirror/",
    lineNumbers: true,
    textWrapping: false,

  });

  var sliderCss = CodeMirror.fromTextArea('slider_css', {
    width: "820px",
    height: "700px",
    parserfile: "parsecss.js",
    stylesheet: "/stylesheets/codemirror/csscolors.css?3453",
    path: "/javascripts/codemirror/",
    continuousScanning: 500,
    lineNumbers: true,
    saveFunction: function(){
      $('textarea#slider_css').val(sliderCss.getCode());
      $('form.edit_slider').submit();
    }
  });
     
})
</script>
