
<% form_for @slider do |f| %>
  <%= f.error_messages %>
  <input name="_method" type="hidden" value="put" />
  <table class="page-head">
    <tr>
      <td style="width:250px;">
        <%= f.label :name %> <span class="star_req">*</span>
        <%= f.text_field :name,  {:style => 'width:150px', :rel => 'text_req' } %>
      </td>
      <td style="width:150px;">
        <%= f.label :width %> <span class="star_req">*</span>
        <%= f.text_field :width, {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
      
      <td style="width:150px;">
        <%= f.label :height %> <span class="star_req">*</span>
        <%= f.text_field :height,  {:style => 'width:50px', :rel => 'text_req' } %>px
      </td>
      
      <td class="buttons" style="width:60px;">
        <%= link_to 'delete', slider_path(@slider), :class => 'delete negative', :rel => 'sliders' %>
      </td>
               
      <td class="buttons" style="width:120px;">
        <button type="submit" class="positive" id="save-slider">Save Changes</button>
      </td>
    </tr>
  </table>

  <ul id="widget-tabs">
    <li title="View sample slideshow output"><a href="<%= slider_path(@slider)%>" rel="tab-widget-view" id="loadachu">View Slideshow</a></li>
    <li title="Create and edit slides here"><a href="#slides" rel="tab-widget-slides">Slides</a></li>
    <li title="Edit CSS here"><a href="#css" rel="tab-widget-css">CSS</a></li>
    <li title="The Basic HTML stucture of your slideshow (READONLY)"><a href="#html" rel="tab-widget-html">Study HTML</a></li>    
  </ul> 

  <div id="tab-widget-view" class="widget-tabs">
    This is the view
  </div>

  <div id="tab-widget-slides" class="widget-tabs">
    <div>
      Slides can contain arbitrary HTML. Use absolute paths for images.
      You can create and delete slides, then drag slides to arrange their order.
      Note you must click "Save Changes" to save created, deleted, and edited slides.
    </div>
    <a href="#" id="new-slide" style="clear:both;">New Slide</a>
    <ul id="slides-list">
      <% @slider.slides.each_with_index do |content, index| %>
        <li>
          <div class="info">
            <span>Slide #<%= index %></span>
            <a href="#" class="remove">[x]</a>
            <a href="#" class="edit">edit</a>
          </div>
          <div class="edit">
            <textarea id="slider_slides_<%= index %>" name="slider_slides[<%= index %>]"><%= content %></textarea>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
    
  <div id="tab-widget-css" class="widget-tabs">
    Add custom CSS styling to your slideshow. Study the HTML output tab
    to find ids, classes and tags to style. 
    <br/>Note that much of CSS3 is not allowed in facebook but will work in your preview.
    If your code is not working, the CSS is probably invalid.
    <fieldset>
      <%= f.text_area :css, :style => 'width:99%;height:300px;' %>
    </fieldset>
  </div>

  <div id="tab-widget-html" class="widget-tabs">
    Rendered HTML output for your slideshow. Allows you to see how the slideshow is structured.
    Note this gets updated only once on initial slideshow load.
    <textarea id="sample-html"><%=h @html %></textarea>
  </div>  
<% end %> 
  

