
<style type="text/css" id="slide-widget">
#gallery-wrapper, #gallery, #gallery div {width:<%= @slider.width %>px; height:<%= @slider.height %>px !important;}
<%= @slider.css.gsub("\n", '') %>
</style>
<div id="gallery-wrapper">
  <div id="gallery" onclick="return false;" title="1">
    <% @slider.slides.each_with_index do |content, index| %>
      <div class="slide-<%= index+1 %>"><span><%= content %></span></div>
    <% end %>
  </div>
</div>

<div id="buttons">
  <a href="#" id="back" onclick="doScroll('back'); return false;">&lt;</a> 
  <a href="#" id="next" onclick="doScroll('next'); return false;">&gt;</a> 
</div>
<div style="margin:auto; text-align:center;">
  <a href="#" onclick="resetScroll(); return false;">Reset</a>
</div>

<script>
<!--
function doScroll(action){
  var curSlide = Gallery.getTitle();
  if (curSlide <= 1 && action == 'back'){return false;}
  if (curSlide >= slideCount && action == 'next'){return false;}
  Animation(Gallery).by('left', ((action == 'next') ? '-' : '') + slideWidth + 'px').go(); 
  Gallery.setTitle( ((action == 'next') ? ++curSlide : --curSlide) );
  return false;
}
function resetScroll(){
  Animation(Gallery).to('left', '0px').go();
  Gallery.setTitle(1);
  return false;
} 

Gallery = document.getElementById('gallery');
slideCount = Gallery.getChildNodes().length ;
slideWidth = <%= @slider.width %>;
Gallery.setStyle({width: (slideCount*slideWidth) + 'px'});
-->
</script>



