<% form_for @page do |f| %>
  <%= f.error_messages %>
  
  <fieldset class="buttons" style="float:left">
    <button type="submit" class="positive">Save Changes</button>
  </fieldset>

  <div style="overflow:hidden;float:right;">
    <fieldset style="float:left">
      <%= f.label :name %> <span class="star_req">*</span>
      <%= f.text_field :name, :rel => 'text_req' %>
    </fieldset>
    
    <fieldset style="float:right">
      <%= f.label 'Facebook Page or Profile ID' %> <span class="star_req">*</span>
      <%= f.text_field :fb_sig_page_id, :rel => 'text_req' %>
    </fieldset> 
  </div>  
  
  <ul id="page-tabs">
    <li><a href="#artists" rel="tab-body">Body</a></li>
    <li><a href="#shop" rel="tab-css">CSS</a></li>
  </ul> 
  
  <div id="tab-body" class="tab-content">
    <fieldset style="clear:both">
      <%= f.text_area :body, :style => 'width:99%;height:400px;' %>
    </fieldset>
  </div>
 
  <div id="tab-css" class="tab-content">
    <fieldset style="clear:both">
      <%= f.text_area :css, :style => 'width:99%;height:400px;' %>
    </fieldset>
  </div>

        

<% end %>
<style type="text/css">
  .CodeMirror-line-numbers {
    width: 2.2em;
    color: #aaa;
    background-color: #eee;
    text-align: right;
    padding-right: .3em;
    font-size: 10pt;
    font-family: monospace;
    padding-top: .4em;
  }
</style>
<script type="text/javascript">
  var editor = CodeMirror.fromTextArea('page_body', {
    width: "820px",
    height: "500px",
    parserfile: "parsexml.js",
    stylesheet: "/stylesheets/codemirror/xmlcolors.css?12312",
    path: "/javascripts/codemirror/",
    continuousScanning: 500,
    lineNumbers: true,
    textWrapping: false
  });

  var cssEditor = CodeMirror.fromTextArea('page_css', {
    width: "820px",
    height: "500px",
    parserfile: "parsecss.js",
    stylesheet: "/stylesheets/codemirror/csscolors.css?3453",
    path: "/javascripts/codemirror/",
    continuousScanning: 500,
    lineNumbers: true
  });
</script>

