<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Facebook app creator</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "cufon-yui.js", "chunkfive_400.font.js" %>
<!--[if lt IE 7]>
    <script type="text/javascript" src="js/unitpngfix.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ieonly.css" />
<![endif]-->
<!--[if IE]>
    <style type="text/css">a.button_next, button.submit {border:2px solid #ccff99 !important;}</style>
<![endif]-->
</head>
<body>
  <div class="container_12">
    <div id="header">
      <ul id="main-links">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sign Up', new_account_path %></li>
        <li><%= link_to 'Log in', account_path %></li>
      </ul>
    </div>
    <%= yield %>
    <div id="footer">&#160;</div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      
      Cufon.replace('h1.cufon, h2.cufon', { fontFamily: 'chunkfive' });
    });
  </script>
</body>
</html>


